* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.allSection {
  background-color: #f1f5f9;
  font-family: "Segoe UI", sans-serif;
  
}
